.events-section{
  width:100%;

  padding:100px 60px;

  background:#f5f7fb;
}

.events-section h2{
  text-align:center;

  font-size:58px;

  color:#1976d2;

  margin-bottom:50px;
}

.event-buttons{
  display:flex;

  justify-content:center;

  gap:25px;

  margin-bottom:60px;

  flex-wrap:wrap;
}

.event-buttons button{
  padding:16px 35px;

  border:none;

  background:white;

  border-radius:12px;

  font-size:18px;

  cursor:pointer;

  transition:0.3s;
}

.event-buttons .active{
  background:#1976d2;

  color:white;
}

.events-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(320px,1fr));

  gap:35px;
}

.event-card{
  background:white;

  border-radius:22px;

  overflow:hidden;

  box-shadow:0 4px 20px rgba(0,0,0,0.08);

  transition:0.4s;
}

.event-card:hover{
  transform:translateY(-8px);
}

.event-card img{
  width:100%;

  height:260px;

  object-fit:cover;
}

.event-info{
  padding:25px;
}

.event-info span{
  background:#eef4fa;

  color:#1976d2;

  padding:8px 18px;

  border-radius:30px;

  font-size:14px;
}

.event-info h3{
  font-size:30px;

  margin:20px 0;
}

.event-info p{
  color:#666;

  margin-bottom:10px;

  font-size:17px;
}

.event-info small{
  color:#888;

  font-size:15px;
}

.empty-box{
  width:100%;

  padding:80px;

  background:white;

  border-radius:20px;

  text-align:center;

  font-size:24px;

  color:#666;
}

