.events-section {
  width: 100%;

  padding: 100px 80px;

  background: #eef3f8;
}

.events-section h2 {
  text-align: center;

  font-size: 55px;

  color: #1976d2;

  margin-bottom: 50px;
}

.event-tabs {
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-bottom: 60px;

  flex-wrap: wrap;
}

.event-tabs button {
  padding: 15px 35px;

  border: none;
  border-radius: 12px;

  background: white;
  color: #1976d2;

  font-size: 17px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.event-tabs button:hover {
  background: #1976d2;
  color: white;
}

.event-tabs .active {
  background: #1976d2;
  color: white;
}

.events-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 35px;
}

.event-card {
  background: white;

  border-radius: 20px;

  overflow: hidden;

  transition: 0.4s;

  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.event-card:hover {
  transform: translateY(-10px);
}

.event-card img {
  width: 100%;
  height: 250px;

  object-fit: cover;
}

.event-content {
  padding: 25px;
}

.event-content span {
  background: #eef3f8;

  padding: 8px 15px;

  border-radius: 20px;

  color: #1976d2;

  font-size: 14px;
  font-weight: 600;
}

.event-content h3 {
  margin-top: 20px;

  font-size: 28px;

  color: #222;
}

.event-content p {
  margin-top: 15px;

  color: #666;

  font-size: 16px;
}

.event-content small {
  display: block;

  margin-top: 12px;

  color: #888;

  font-size: 15px;
}

.empty-box {
  width: 100%;

  padding: 80px;

  text-align: center;

  background: white;

  border-radius: 20px;

  font-size: 22px;

  color: #666;
}

@media screen and (max-width: 768px) {

  .events-section {
    padding: 70px 25px;
  }

  .events-section h2 {
    font-size: 40px;
  }

  .event-tabs button {
    width: 100%;
  }
}