.ojas-page{
  min-height:100vh;

  padding:100px 60px;

  background:#f5f7fb;
}

.ojas-page h1{
  text-align:center;

  font-size:58px;

  color:#1976d2;

  margin-bottom:70px;
}

.stats-grid{
  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

  gap:35px;
}

.stat-card{
  background:white;

  border-radius:25px;

  padding:50px 30px;

  text-align:center;

  box-shadow:0 5px 20px rgba(0,0,0,0.08);

  transition:0.4s;
}

.stat-card:hover{
  transform:translateY(-8px);
}

.stat-card h2{
  font-size:55px;

  color:#1976d2;

  margin-bottom:20px;
}

.stat-card p{
  font-size:22px;

  color:#555;
}